@charset "UTF-8";
:root {
  --lb-orange: #F4A261;
  --lb-orange-secondary: #c98a57;
}

.btn-primary {
    background-color: var(--lb-orange-secondary) !important;
    border-color: var(--lb-orange) !important;
    color: black !important;
    font-weight: bold;
}

/* This is probably not necessary
    
    .bg-body-primary {
    background-color: black !important;
}

.bg-body-tertiary {
    background-color: black !important;
}

.navbar-brand, .nav-link, .dropdown-item {
    color: white !important;
} */