@charset "UTF-8";
:root {
    --lb-orange: #F4A261;
    --lb-orange-secondary: #c98a57;
    /* Body colours */
    --bs-body-color: white;
    --bs-body-bg: #111111;
    /* Secondairy colours */
    --bs-secondary-color: #C8C8C8;
    --bs-secondary-bg: #343434;
    /* Tertiairy colours */
    --bs-tertiary-bg: #9a9a9a;
    --bs-tertiary-bg: #696969;
    /* Primary colour */
    --bs-primary: #F4A261;
    --bs-primary-rgb: 244, 162, 97;
    --bs-primary-bg-subtle: #a76f42;
    --bs-primary-text-emphasis: #F4A261;        /* LUKE I have no idea what this is */

}

.btn-primary {
    background-color: var(--lb-orange);
    border-color: var(--lb-orange);
    color: black;
    font-weight: bold;
    --bs-btn-bg: var(--lb-orange-secondary);
}

.btn-primary:hover {
    background-color: var(--lb-orange-secondary);
    border-color: var(--lb-orange);
    color: black;
    font-weight: bold;
}


.image-behind-text {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered-over-image {
    width:65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  @media (min-width: 992px) {
    .image-text-container .centered-over-image {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

  @media (max-width: 600px) {
    .image-on-md-plus {
      display: none;
    }
  }

  .card {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .card-img-top {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  .btn-check+.btn:hover {
    border-color: var(--lb-orange);
  }	

  /* .btn-services-checkbox {
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: var(--bs-primary);
    color: black;
  } */

  .btn-check:checked+.btn {
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: var(--bs-primary);
    color: black;
    --bs-btn-active-border-color: white;
  }

  .list-group-item {
    padding: 0;
  }

  .form-control:focus {
    border-color: var(--lb-orange);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .25);
  }

  .align-an-item-to-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .black-text-to-hide {
    color: var(--bs-body-bg);
  }

  .dropdown {
    width: 100%;
    text-align: left;
  }

  .dropdown-toggle {
    width: 100%;
    background-color: var(--bs-body-bg);
    outline: white;
    border-radius: 3px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  .dropdown-menu {
    width: 100%;
    background-color: var(--bs-secondary-bg);
    
  }

  @media (min-width: 992px) {
  .background-image-laptop {
    /* background-color: #FF0000; */
    background-image: url(../assets/macbookImage.png);
    background-size: cover;
    height: 100%;
  }
}

/* This is probably not necessary
    
    .bg-body-primary {
    background-color: black !important;
}

.bg-body-tertiary {
    background-color: black !important;
}

.navbar-brand, .nav-link, .dropdown-item {
    color: white !important;
} */