@charset "UTF-8";
:root {
    --lb-orange: #F4A261;
    --lb-orange-secondary: #c98a57;
    /* Body colours */
    --bs-body-color: white;
    --bs-body-bg: #111111;
    /* Secondairy colours */
    --bs-secondary-color: #C8C8C8;
    --bs-secondary-bg: #343434;
    /* Tertiairy colours */
    --bs-tertiary-bg: #9a9a9a;
    --bs-tertiary-bg: #696969;
    /* Primary colour */
    --bs-primary: #F4A261;
    --bs-primary-rgb: 244, 162, 97;
    --bs-primary-bg-subtle: #a76f42;
    --bs-primary-text-emphasis: #F4A261;        /* LUKE I have no idea what this is */

}

.btn-primary {
    background-color: var(--lb-orange);
    border-color: var(--lb-orange);
    color: black;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: var(--lb-orange-secondary);
    border-color: var(--lb-orange);
    color: black;
    font-weight: bold;
}


.image-behind-text {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
.centered-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7vw;
  }

/* This is probably not necessary
    
    .bg-body-primary {
    background-color: black !important;
}

.bg-body-tertiary {
    background-color: black !important;
}

.navbar-brand, .nav-link, .dropdown-item {
    color: white !important;
} */